<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>

<div class="container-md jumbotron">
	<h1 class="text-center"><%= title %></h1>
	<hr>

	<br>
	<%- include('./partials/' + partialName + '.ejs') %>
</div>

<%- include('./partials/footer.ejs') %>
